.signup-container {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
.subtitle {
  color: #000000;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  text-align: left;
  font-weight: bold;
  margin-top: 5px;
}

input,
select {
  padding: 10px;
  border: 1px solid #595959;
  border-radius: 10px;
  font-size: 14px;
}

.email-section {
  display: flex;
  flex-direction: column;
}

.email-section input {
  margin-bottom: 10px;
}

.auth-btn {
  background-color: #ffa552;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  padding: 12px 0;
  font-size: 14px;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: #d8964e;
}

.submit-btn {
  background-color: #c9c9c9;
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #ffa552;
}
